# Required for actual usage
AOF_API_URL=http://localhost:8000
AOF_KEYCLOAK_ISSUER=http://localhost:8080/realms/auto-offensive
AOF_KEYCLOAK_CLIENT_ID=auto-offensive-client

# Needed for browser login callback (must match Keycloak client redirect URI)
AOF_REDIRECT_URL=http://127.0.0.1:8250/callback

# Optional
AOF_TOKEN_FILE=~/.config/aof/token.json   # where login token is stored